*,
*::before,
*::after {
  box-sizing: border-box;
}
.timer {
  display: flex;
justify-content: center;
}

.field {
  margin: 10px;
}

.value {
  display: block;
  font-size: 70px;
  border-radius: 3px;
  color: rgb(19, 15, 252);
  
}
.label{
  display: block;

  font-size:30px;
  color:rgb(19, 15, 252);
  
}
.time-count__title {
display: block;
	margin-bottom: 35px;
  margin-top: 350px;
	font-weight: 700;
	font-size: 50px;
	line-height: 47px;
	text-align: center;
	color: rgb(19, 15, 252);
  
}

body {
	background-color: #fafafa;
	min-height: 100vh;
  /* display: flex;
	align-items: center;
	justify-content: center; */
	background-image: url("./img/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.time-count__separator {
	font-weight: 700;
	font-size: 48px;
	line-height: 90px;
	text-align: center;
	color: rgb(19, 15, 252);

};
